/*
  HTML5 Reset :: reset.css
  -------------------------------------------------------------------
  Подготовлен командой LiveHTML | by LiveHTML :: http://livehtml.io
  -------------------------------------------------------------------
  Выражаем особую благодарность людям, чьи труды способствовали появлению данного ресета:
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://ericmeyer.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700,800);
@import "../fonts/icomoon/style.css";
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
section,
footer {
  clear: both;
}
/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы)
   force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки
  we can use default ULs & OLs with bullets */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px;
}
ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top;
}
/* Сбрасываем отступы у элементов форм
  Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
  margin: 1px 4px 4px 0;
}
input[type=text],
input[type=password] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* Решение проблемы с обрезанием стилизованных кнопок в IE | make buttons play nice in IE */
button,
input[type=submit] {
  width: auto;
  overflow: visible;
}
.ie7 input[type=submit],
.ie7 input[type=reset],
.ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000);
}
/* Курсор-указатель на кликабельных элементах | hand cursor on clickable elements */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
/* Стандартизируем моноширные элементы | standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
/* Устанавливаем произвольный цвет для выделения (не забываем убрать тень для текста)
  Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/* ::-moz-selection{ background:#fcd700; color:#fff; text-shadow:none; } */
/* ::selection { background:#fcd700; color:#fff; text-shadow:none; } */
/* Устанавливаем произвольный цвет подсветки ссылок на Apple устройствах: j.mp/webkit-tap-highlight-color */
/* a:link {-webkit-tap-highlight-color:#fcd700;} */
/* Правильный ресайз картинок в IE7
  scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* Сброс float блоков | let's clear some floats */
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Coded in LiveHTML :: http://livehtml.io */
html {
  min-width: auto;
  width: auto;
  height: 100%;
}
body {
  font: normal normal 14px/20px 'Nunito Sans', arial, sans-serif;
  background: #f2f5f8;
  color: #2f3444;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 900px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
body input,
body textarea,
body button {
  font-family: 'Nunito Sans', arial, sans-serif;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.btn {
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 2px solid #4766ff;
  background: #4766ff;
  color: #ffffff;
  padding: 8px 25px;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.btn:hover {
  background: #5a76ff;
  border-color: #5a76ff;
}
.btn:active {
  background: #3c5cf7;
  border-color: #3c5cf7;
}
.btn.is-sm {
  -webkit-border-radius: 32px;
  border-radius: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}
.btn.is-lg {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.btn.is-outline {
  background: #ffffff;
  color: #4766ff;
}
.btn.is-outline:hover {
  background: #4766ff;
  border-color: #4766ff;
  color: #ffffff;
}
.btn.is-outline:active {
  background: #3c5cf7;
  border-color: #3c5cf7;
  color: #ffffff;
}
.btn.is-block {
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%;
  height: auto;
}
.header {
  background: #ffffff;
  padding: 14px 30px 15px;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  z-index: 3;
  *zoom: 1;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header:after {
  clear: both;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header.without-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header--title {
  float: left;
  text-transform: uppercase;
  padding: 2px 0 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
}
.header--title a {
  text-decoration: none;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  font-weight: 400;
  color: #626677;
  display: inline-block;
  vertical-align: top;
}
.header--title a:hover {
  color: #2f3444;
}
.header--auth {
  float: right;
}
.header--user {
  float: right;
  color: #2f3444;
  text-decoration: none;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  margin: 5px 0 0;
  padding: 0 19px 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header--user:hover {
  color: #4766ff;
}
.header--user:after {
  color: #838d9b;
  content: '\e900';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5px;
  line-height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.header--user img {
  overflow: hidden;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  margin: -1px 8px 0 0;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}
.navigation {
  background: #ffffff;
  padding: 0 30px;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  z-index: 2;
  border-top: 1px solid #e8ecf1;
  *zoom: 1;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.navigation:after {
  clear: both;
}
.navigation:before,
.navigation:after {
  content: " ";
  display: table;
}
.navigation--list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
  display: block;
}
.navigation--list:after {
  clear: both;
}
.navigation--list:before,
.navigation--list:after {
  content: " ";
  display: table;
}
.navigation--item {
  float: left;
  margin: 0 20px 0 0;
}
.navigation--item:last-child {
  margin: 0;
}
.navigation--item a {
  padding: 20px 10px 15px;
  text-decoration: none;
  color: #626677;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  border-bottom: 3px solid transparent;
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.navigation--item a:hover {
  color: #4766ff;
}
.navigation--item.is-active a {
  color: #4766ff;
  border-color: #4766ff;
  font-weight: 700;
}
.navigation--btn {
  float: right;
  margin: 13px 0;
  width: 115px;
  height: auto;
}
.page {
  padding: 0 0 0 238px;
  min-width: auto;
  min-height: 100vh;
}
@media (max-width: 1239px) {
  .page {
    padding: 0;
    overflow: hidden;
  }
}
.page--side {
  background: #182642;
  color: #ffffff;
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 238px;
  height: auto;
}
@media (max-width: 1239px) {
  .page--side {
    width: 86px;
    height: auto;
  }
}
.page--box {
  padding: 0 0 54px;
}
@media (max-width: 1239px) {
  .page--box {
    margin: 0 0 0 auto;
    width: -webkit-calc(100% - 86px);
    width: calc(100% - 86px);
    height: auto;
  }
  .page--box.is-shown {
    -webkit-transform: translate(152px, 0px);
    -moz-transform: translate(152px, 0px);
    -ms-transform: translate(152px, 0px);
    -o-transform: translate(152px, 0px);
    transform: translate(152px, 0px);
  }
}
.page--bg {
  background: url(../img/page--bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 0 -200px;
  z-index: 1;
  width: auto;
  height: 360px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--bg:before {
  content: "";
  background: rgba(0, 17, 88, 0.1);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page--wrap {
  margin: 0 auto;
  z-index: 2;
  max-width: 945px;
  max-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 1239px) {
  .page--wrap {
    max-width: initial;
    max-height: initial;
  }
}
.page--grid {
  margin: 0 auto;
  z-index: 2;
  padding: 0 15px;
  max-width: 1200px;
  max-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 0;
  line-height: 0;
}
@media (max-width: 1239px) {
  .page--grid {
    max-width: initial;
    max-height: initial;
  }
}
.page--col {
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: auto;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1239px) {
  .page--col {
    padding: 0 10px;
  }
}
.page--nav {
  padding: 40px 0 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.page--nav-i {
  margin: 0 15px;
  background: #ffffff;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 10px;
  text-decoration: none;
  color: #2f3444;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  width: 180px;
  height: auto;
}
.page--nav-i:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
}
.page--nav-i span {
  display: inline-block;
  vertical-align: top;
}
.page--nav-i i {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  line-height: 20px;
}
.page--nav-i i:first-child {
  margin: 0 10px 0 0;
}
.page--nav-i i:last-child {
  margin: 0 0 0 10px;
}
.page--title {
  margin: -6px 0 27px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--title-b {
  margin: 2px 0 0 20px;
}
.page--title-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page--title-w .page--title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.page--intro {
  color: #626677;
  font-size: 16px;
  line-height: 24px;
}
.page--intro p {
  margin: 0 0 24px;
}
.page--intro p:last-child {
  margin: 0;
}
.page--intro a {
  text-decoration: none;
  color: #4766ff;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
}
.page--intro a:hover {
  opacity: 0.7;
}
.page--tools {
  margin: 24px 0 -61px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1239px) {
  .page--tools {
    margin-bottom: -41px;
  }
}
.page--authors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 0;
  line-height: 0;
}
.page--author {
  margin: 0 31px 10px 0;
  color: #2f3444;
  text-decoration: none;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--author:last-child {
  margin: 0;
}
.page--author:hover {
  color: #4766ff;
}
.page--author img {
  overflow: hidden;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  margin: -1px 8px 0 0;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}
.page--contacts {
  font-size: 0;
  line-height: 0;
}
.page--contact {
  margin: 0 0 0 32px;
  color: #2f3444;
  text-decoration: none;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--contact:hover {
  color: #4766ff;
}
.page--contact i {
  margin: 1px 10px -1px 0;
  color: #a5b0be;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  line-height: 24px;
}
.page--tabs {
  margin: -21px 0 54px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
@media (max-width: 1239px) {
  .page--tabs {
    margin: -1px 0 44px;
  }
}
.page--tab {
  text-decoration: none;
  text-align: center;
  color: #4766ff;
  border: 2px solid #4766ff;
  padding: 12px 0;
  margin: 0 -2px 0 0;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: inline-block;
  vertical-align: top;
  width: 176px;
  height: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.page--tab:hover {
  background: rgba(71, 102, 255, 0.1);
}
.page--tab:active {
  background: rgba(71, 102, 255, 0.2);
}
.page--tab.is-active {
  background: #4766ff;
  color: #ffffff;
  cursor: default;
}
.page--tab:first-child {
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
}
.page--tab:last-child {
  -webkit-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  margin: 0;
}
.page--text {
  margin: 0 0 -27px;
}
@media (max-width: 1239px) {
  .page--text {
    margin: 0 0 -7px;
  }
}
.page--text.is-project {
  margin: -26px 0 -7px;
}
@media (max-width: 1239px) {
  .page--text.is-project {
    margin: -6px 0 0;
  }
}
.page--text.is-charts {
  margin: -1px 0 -47px;
}
@media (max-width: 1239px) {
  .page--text.is-charts {
    margin: 0 0 -27px;
  }
}
.page--text h2 {
  margin: 47px 0 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}
.page--text p {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.page--text ul {
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.page--text ul li {
  padding: 0 0 0 28px;
  margin: 0 0 16px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--text ul li:last-child {
  margin: 0;
}
.page--text ul li:before {
  content: "";
  background: #4766ff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  position: absolute;
  top: 8px;
  right: auto;
  bottom: auto;
  left: 1px;
  width: 8px;
  height: 8px;
}
.page--text ol {
  list-style: none;
  margin: 0 0 24px;
  padding: 2px 0 0;
  counter-reset: section;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.page--text ol li {
  padding: 0 0 0 35px;
  margin: 0 0 17px;
  counter-increment: section;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--text ol li:last-child {
  margin: 0;
}
.page--text ol li:before {
  content: counter(section);
  border: 1px solid #abb1b8;
  text-align: center;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  position: absolute;
  top: 1px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 20px;
  height: 20px;
}
.page--text a {
  text-decoration: none;
  color: #4766ff;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
}
.page--text a:hover {
  opacity: 0.7;
}
.page--text strong {
  font-weight: 800;
}
.page--text em {
  background: #d3daff;
  font: inherit;
}
.page--text img[align="left"] {
  margin: 6px 40px 24px 0;
}
.page--text img[align="right"] {
  margin: 6px 0 24px 40px;
}
.page--text > *:first-child {
  margin-top: 0;
}
.page--text > *:last-child {
  margin-bottom: 0;
}
.page--fields {
  margin: -32px 0 -54px;
}
@media (max-width: 1239px) {
  .page--fields {
    margin: -12px 0 -34px;
  }
}
.page--field {
  padding: 0 0 0 82px;
  margin: 0 0 13px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.page--field:last-child {
  margin: 0;
}
.page--field-l {
  padding: 0 20px 0 0;
  color: #838d9b;
  width: 82px;
  height: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.page--field-r {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.link-icon {
  text-decoration: none;
  margin: 0 35px 7px 0;
  color: #4766ff;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
}
.link-icon:hover {
  color: rgba(71, 102, 255, 0.7);
}
.link-icon i {
  margin: 0 9px 0 0;
  display: inline-block;
  vertical-align: top;
}
.link-icon i.icon-github {
  margin: -1px 9px 0 0;
  color: #0c0f1f;
  font-size: 16px;
  line-height: 22px;
}
.link-icon i.icon-csv {
  margin: 0 9px 0 2px;
  color: #13b758;
  font-size: 16px;
  line-height: 22px;
}
.link-icon--w {
  margin: 0 -35px -7px 0;
  font-size: 0;
  line-height: 0;
}
.box {
  background: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.02);
}
@media (max-width: 1239px) {
  .box {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
.box.in-grid {
  margin: 0 0 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1239px) {
  .box.in-grid {
    margin: 0 0 20px;
  }
}
.box--section {
  padding: 60px 80px 80px;
  border-bottom: 1px solid #eaedf0;
}
@media (max-width: 1239px) {
  .box--section {
    padding: 40px 40px 60px;
  }
}
.box--section:last-child {
  border: none;
}
.subscribe {
  margin: -2px 0 -20px;
}
@media (max-width: 1239px) {
  .subscribe {
    margin: 18px 0 0;
  }
}
.subscribe--title {
  text-align: center;
  margin: 0 0 9px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.subscribe--text {
  text-align: center;
  color: #626677;
  margin: 0 0 33px;
  font-size: 16px;
  line-height: 24px;
}
.subscribe--form {
  padding: 0 164px 0 0;
  margin: 0 auto;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 665px;
  height: auto;
}
.subscribe--input {
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cfd6dc;
  color: #626677;
  padding: 7px 0;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
}
.subscribe--submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 144px;
  height: auto;
}
.chart {
  padding: 8px 0 25px;
}
.chart img {
  display: block;
  width: 100%;
  height: auto;
}
.status {
  margin: -10px 0 -7px;
}
@media (max-width: 1239px) {
  .status {
    margin: 10px 0 -10px;
  }
}
.status--icon {
  margin: 0 0 22px;
  width: auto;
  height: 92px;
}
.status--title {
  text-align: center;
  margin: 0 0 9px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}
.status--text {
  color: #626677;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.status--btn {
  text-align: center;
  padding: 13px 0 0;
}
.status.is-empty .status--icon {
  background: url(../img/status--empty@1x.png) center center no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-image: -webkit-image-set(url(../img/status--empty@1x.png) 1x, url(../img/status--empty@2x.png) 2x);
  background-image: image-set(url(../img/status--empty@1x.png) 1x, url(../img/status--empty@2x.png) 2x);
}
.status.is-private .status--icon {
  margin: 0 0 24px;
  background: url(../img/status--private@1x.png) center center no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-image: -webkit-image-set(url(../img/status--private@1x.png) 1x, url(../img/status--private@2x.png) 2x);
  background-image: image-set(url(../img/status--private@1x.png) 1x, url(../img/status--private@2x.png) 2x);
}
.data {
  padding: 40px;
}
@media (max-width: 1239px) {
  .data {
    padding: 30px;
  }
}
.data--title {
  padding: 0 0 0 46px;
  margin: 0 0 23px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 20px;
  line-height: 34px;
  font-weight: 800;
}
.data--title i {
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  font-size: 32px;
  line-height: 32px;
}
.data--title i.icon-datasets-c {
  color: #b56cff;
}
.data--title i.icon-documents-c {
  color: #00d75b;
}
.data--title i.icon-links-c {
  color: #23b4ff;
}
.data--title i.icon-data-needs-c {
  color: #ffb422;
}
.data--section {
  padding: 0 0 18px;
  margin: 0 0 35px;
  border-bottom: 1px solid #e8ecf1;
}
.data--section:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.data--label {
  text-transform: uppercase;
  color: #838d9b;
  margin: 0 0 19px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}
.data--links {
  margin: 0 0 -12px;
}
.data--grid {
  font-size: 0;
  line-height: 0;
}
.data--link {
  padding: 0 0 0 25px;
  text-decoration: none;
  color: #2f3444;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  margin: 0 0 27px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.data--link:hover {
  color: #4766ff;
}
.data--link i {
  color: #acb7c7;
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  font-size: 14px;
  line-height: 24px;
}
.data--grid .data--link {
  margin-right: 7px;
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(25% - 7px);
  width: calc(25% - 7px);
  height: auto;
}
@media (max-width: 1239px) {
  .data--grid .data--link {
    width: -webkit-calc(50% - 7px);
    width: calc(50% - 7px);
    height: auto;
  }
}
.visible-md,
.visible-lg {
  display: none;
}
@media (max-width: 1239px) {
  .visible-md {
    display: block;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1240px) {
  .visible-lg {
    display: block;
  }
  .hidden-lg {
    display: none !important;
  }
}
