mixin head (title)
	head
		meta(charset="utf-8")
		title= title

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="js/scripts.js")

		block

mixin page--side
	.st-page--side&attributes(attributes) side

mixin header (title, link, auth)
	header.st-header&attributes(attributes)
		if ((link != '') && link)
			.st-header--title #[a(href="#")= link] / #{title}
		else
			.st-header--title= title

		if (auth)
			.st-header--auth: a(href="#").st-btn.is-sm.is-outline Sign in
		else
			a(href="#").st-header--user #[img(src="http://placehold.it/48" alt="")]Yury Lifshits

mixin subscribe
	.st-subscribe&attributes(attributes)
		.st-subscribe--title Housing insights from Statecraft
		.st-subscribe--text Subscribe and stay up to date with the latest insights from Statecraft

		form(method="POST" action="").st-subscribe--form
			input(type="text" placeholder="Your email address").st-subscribe--input

			.st-subscribe--submit: button(type="submit").st-btn.is-lg.is-block Subscribe

mixin page--bg
	.st-page--bg(style="background-image: url(img/page--bg.jpg)")&attributes(attributes)

mixin page--tools
	.st-page--tools&attributes(attributes)
		.st-page--authors
			a(href="#").st-page--author #[img(src="http://placehold.it/48" alt="")]Yury Lifshits
			a(href="#").st-page--author #[img(src="http://placehold.it/48" alt="")]Stepan Korshakov

		.st-page--contacts
			a(href="#").st-page--contact #[i.icon-email]yury@statecraft.one

mixin findings-intro
	h1.st-page--title Housing Production in San&nbsp;Francisco 2014-2017

	.st-page--intro
		p This site presents a new analysis of San Francisco housing production for 2014-2017 period. To identify completed units, we looked for development projects that were in construction in a given quarter and then removed from the pipeline in the next one. Our process has also included a significant number of data cleaning steps and manual corrections. The source code can be found in the #[a(href="#") projects section].
		p This study can be used for double-checking housing inventory reports for 2014 and 2015, and provides a new estimate for 2016 and Q1 2017 housing completions (where housing inventory report is still unpublished).

	+page--tools