include ./_components.jade

mixin _ (name)
	a(href=name + '.html' style="margin: 0 20px 0 0").st-btn.left= name

doctype html
html
	+head ('Statecraft')

	body
		.clearfix(style="padding: 40px 100px 0;")
			+_ ('x-main')
			+_ ('x-dashboard')

		.clearfix(style="padding: 40px 100px 0;")
			+_ ('data-sources')

		.clearfix(style="padding: 40px 100px 0;")
			+_ ('project')
			+_ ('project--private')
			+_ ('project--empty')

		.clearfix(style="padding: 40px 100px 0;")
			+_ ('findings--key')
			+_ ('findings--charts')
			+_ ('findings--recommendations')