include ./_components.jade

doctype html
html
	+head ('Statecraft')

	body
		.clearfix(style="padding: 40px 100px 0;")
			a(href="data-sources.html" style="margin: 0 20px 0 0").btn.left data-sources

		.clearfix(style="padding: 40px 100px 0;")
			a(href="project.html" style="margin: 0 20px 0 0").btn.left project
			a(href="project--private.html" style="margin: 0 20px 0 0").btn.left project--private
			a(href="project--empty.html" style="margin: 0 20px 0 0").btn.left project--empty

		.clearfix(style="padding: 40px 100px 0;")
			a(href="findings--key.html" style="margin: 0 20px 0 0").btn.left findings--key
			a(href="findings--charts.html" style="margin: 0 20px 0 0").btn.left findings--charts
			a(href="findings--recommendations.html" style="margin: 0 20px 0 0").btn.left findings--recommendations