include ./_components.jade

doctype html
html
	+head ('Statecraft')

	body: .st-page
		+page--side

		.st-page--box
			+header ('Housing data cleanup', 'Projects')

			.st-page--bg
			.st-page--wrap: .st-box
				.st-box--section
					h1.st-page--title Affordable housing preservation

					.st-page--intro: p Analysis of affordable and rent-control stock, annual loss of affordable units, and near-future projections.

					+page--tools

				.st-box--section: .st-status.is-private
					.st-status--icon
					.st-status--title This project is in private mode
					.st-status--btn: a(href="#").st-btn Request invite

			.st-page--nav
				a(href="#").st-page--nav-i #[i.icon-left-arrow]#[span Previous project]