include ./_components.jade

doctype html
html
	+head ('Statecraft')

	body: .st-page
		+page--side (2, 2)

		.st-page--box
			+header ('Housing production analysis', 'Projects')
			+page--bg

			.st-page--wrap: .st-box
				.st-box--section
					.st-page--title-w
						h1.st-page--title Housing production analysis

						.st-page--title-b: a(href="#").st-btn.is-outline Follow project

					.st-page--intro: p Project description text goes here. Lorem ipsum dolor sit amet.

					+page--tools

				.st-box--section: .st-status.is-empty
					.st-status--icon
					.st-status--title Project in progress
					.st-status--text We are currently working on this project. Follow it and we will notify you when it’s ready.

			.st-page--nav
				a(href="#").st-page--nav-i #[i.icon-left-arrow]#[span Previous project]
				a(href="#").st-page--nav-i #[span Next porject]#[i.icon-right-arrow]