include ./_components.jade

doctype html
html
	+head ('Statecraft')

	body: .x-page
		.x-top
			.x-container.is-wide.clearfix
				a(href="#").x-top--label.hidden-xs.hidden-sm San Francisco Housing Forecast
				a(href="#").x-top--label.visible-xs.visible-sm SF Housing Forecast
				a(href="#").x-top--open.visible-xs

				.x-top--tabs.hidden-xs
					a(href="#").x-top--tab.is-active Dashboard
					a(href="#").x-top--tab Pipeline Explorer

				ul.x-top--nav.hidden-xs
					li.x-top--item: span #[img(src="http://placehold.it/28")]Yury Lifshits
					li.x-top--item.is-join: button Sign Out

			.x-top--menu: .x-container
				.x-top--tabs
					a(href="#").x-top--tab.is-active Dashboard
					a(href="#").x-top--tab Pipeline Explorer

				ul.x-top--nav
					li.x-top--item: span #[img(src="http://placehold.it/28")]Yury Lifshits
					li.x-top--item.is-join: button Sign Out

		//.x-notify Record saved#[i.icon-close]

		.x-in: .x-container.is-wide: .row.md-gutter-20
			.col-xs-12.col-md-3: .x-filters
				a(href="#").x-filters--head Filters

				.x-filters--body
					a(href="#").x-filters--close: i.icon-close

					.x-in--title Pipeline filters
					.x-search: form(method="POST" action="").x-search--box
						input(type="text" placeholder="Search").x-search--input
						button(type="submit").x-search--button: i.icon-search

					.x-filter
						.x-filter--title Expected completion

						a(href="#").x-filter--radio.is-checked All
						a(href="#").x-filter--radio 2017
						a(href="#").x-filter--radio 2018
						a(href="#").x-filter--radio 2019+

					.x-filter
						.x-filter--title Project size

						a(href="#").x-filter--radio.is-checked All
						a(href="#").x-filter--radio 10+ units

					.x-join
						.x-join--btn: a(href="#").x-btn.is-block Join as a contributer
						.x-join--btn: a(href="#").x-btn.is-outline.is-block Add a project

			.col-xs-12.col-md-9
				.x-in--title.hidden-xs 42#[span Buildings]2347#[span Net new units]#[span.is-verified Verified]12#[span Buildings]1145#[span Net new units]
				.x-in--list
					+loaderLine

					.x-in--item: +x-card.is-checked
					.x-in--item: +x-card (true).is-checked.is-expanded
					.x-in--item: +x-card
					.x-in--item: +x-card.is-checked
					.x-in--item: +x-card (true).is-checked
					.x-in--item: +x-card
					.x-in--item: +x-card.is-checked

					.x-empty No buildings match your criteria