include ./_components.jade

doctype html
html
	+head ('Statecraft')

	body: .x-page
		.x-intro: .x-container
			.x-header
				a(href="#").x-header--logo: img(src="img/logotype.svg" alt="")

				ul.x-header--nav
					li.x-header--item: a(href="#") #[img(src="http://placehold.it/28")]Yury Lifshits
					li.x-header--item: a(href="#") Sign In
					li.x-header--item.is-join: button Join

			.x-intro--in
				.x-intro--title San Francisco Housing Forecast 2017-18

				+x-intro--tools

		.x-counters: .x-container: .row
			.col-lg-3: +x-counter ('415', 'Projects tracked', '72 verified')
			.col-lg-3: +x-counter ('2753', '2017 net new units', '1115 verified')
			.col-lg-3: +x-counter ('3153', '2018 net new units', '342 verified')
			.col-lg-3: +x-counter ('5000', 'Mayor\'s goal', 'Annual target')

		+x-insights ('Insights', [['Accuracy', 'City doesn’t have accurate info for expected completion. Collaboration with developer community is necessary.'], ['Below target', 'Judging from the current data, the city is well behind mayor’s goal. However, major changes are possible after new inputs from developers.'], ['Affordable', 'Similar collaborative pipeline review is required to develop accurate projections for affordable production.']])

		.x-pipeline: .x-container: .row
			.col-lg-4
				.x-pipeline--title Pipeline
				.x-pipeline--text List of development projects likely to be completed in 2017-2018.
				.x-pipeline--btn: a(href="#").x-btn.is-block Explore the pipeline

			.col-lg-8: .x-pipeline--list: img(src="img/x-pipeline--list.png" alt="")

		.x-form: .x-container
			.x-form--title Make this forecast more accurate
			.x-form--text Join our community to correct, expand, or add records to the pipeline

			form(method="POST" action="").x-form--in
				.x-form--field: input(type="text" placeholder="Full name").x-input
				.x-form--field: input(type="text" placeholder="Email").x-input
				.x-form--field: input(type="text" placeholder="Organization").x-input
				.x-form--btn: button(type="submit").x-btn.is-block Join as a contributor

		+x-insights ('About SF Housing Forecast', [['Objective', 'Create the most accurate and transparent forecast for housing production in the city.'], ['Team', 'This project is an initiative of Statecraft, a San-Francisco-based government analytics company.'], ['Data', 'The initial list of construction projects is created using open data published by DataSF (development pipeline and building permits). Further details are sources from our community of contributors.']]).with-bg

		.x-footer: .x-container
			.x-footer--title San Francisco Housing Forecast 2017-18
			.x-footer--powered Powered by Statecraft

			+x-intro--tools